/* =========================
    Layout（全ページ共通）
========================= */

body {
    background-color: #f8f8f8;
}

/* ---------- Header ---------- */

.product__header {
    background-color: #fff;
    padding: 0 15px;
    margin-bottom: 70px;
}

.product__logo {
    margin: 0;
    font-family: 'Dancing Script', sans-serif;
    font-size: 32px;
    color: #f5ca0a;
}

/* ---------- Main Container ---------- */

main {
    max-width: 1230px;
    margin: 0 auto;
}