/* =========================
    Layout（全ページ共通）
========================= */

.product__body {
    background-color: #f8f8f8;
    font-family: "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
}

/* ---------- Header ---------- */

.product__header {
    background-color: #fff;
    padding: 0 15px;
}

.product__logo {
    margin: 0;
    font-family: 'Dancing Script', sans-serif;
    font-size: 32px;
    color: #f5ca0a;
}

/* ---------- Main Container ---------- */

.product__main {
    max-width: 1230px;
    margin: 70px auto;
    padding: 0 30px;
}